header.site-header {
    .primary-navigation {
        justify-content: flex-end;
        width: 80vw;

        .menu-home-page-container {
            width: 50vw;
        }

        .sidebar {
            .menu-home-page-container {
                width: 100%;

                ul.menu-widget {
                    flex-wrap: nowrap;

                    li {
                        font-size: 1.3vw;
                    }
                }
            }
        }
    }
}

div.submenu {
  display: block;
  width: 100%;

  &.mobile {
    display: none;
  }
}

.site-content {
  .content-area {
    min-height: 100 - $header - $footer;
  }
}

.photography {
  .wpmf-gallerys {
    .wpmf-gallery-item {
      min-height: 260px;
    }
  }
}