.nf-form-wrap {
  .nf-form-fields-required {
    display: none;
  }

  input {
    max-width: 300px;
  }

  textarea {
    max-width: 500px;
  }
}

.menu-item-587, .menu-item-585, .menu-item-586 {
  // display: none;
}
